{% extends "layout.html" %}

{% block page_title %}
  Addresses in application
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="" method="get" class="form">

        <h1 class="heading-xlarge">
          Return address if we can't legalise your documents
        </h1>

        <p class="heading-medium">
          Where would you like us to post your documents if we're unable to legalise them?
        </p>

        <div class="form-group">
          <fieldset>

            <label for="radio-part-1" class="block-label">
              <input type="radio" name="address-choice" value="address1">
              <span class="heading-small">Same address as before</span><br>Mark Barlow,
              118, Oakfield Road, London, N10 6LL, United Kingdom
            </label>

            <label for="radio-part-2" class="block-label" style="width:86.5%;">
              <input type="radio" name="address-choice" value="address-enter">
              <span class="heading-small">Different address</span><br>
              
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>



<!-- the current version -->

<Br clear="all"><br><br>
<hr>

<h2 class="heading-medium">Current version on live</h2>


<div class="column-two-thirds">
    <form id="is-same" method="post" action="/alternative-address-response">
        <fieldset class="inline">
            <legend class="form-label-bold heading-medium">Where would you like us to post your documents if we’re unable to legalise them?</legend>
            <div class="form-group ">

                <label class="block-label " data-target="main-address" for="radio-yes">
                    <input id="radio-yes" type="radio" name="is_same" value="true"  >
                    Same address as before
                </label>
                <label class="block-label " for="radio-no">
                    <input id="radio-no" type="radio" name="is_same" value="false" >
                    Different address
                </label>
            </div>

            <div class="panel-indent js-hidden" id="main-address">
                Mark Barlow<br>
                3<br>
                Fletton Road<br>
                London<br>
                
                N11 2QL<br>
                United Kingdom<br>
            </div>

            <div class="form-group">
                <button class="button" type="submit">Continue</button>
            </div>

        </fieldset>
    </form>
</div>


<!-- end the current version -->



    </div>
  </div>
</main>
{% endblock %}
