{% extends "layout.html" %}

{% block page_title %}
  Example - Radio buttons and checkboxes
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/contact_details" method="get" class="form">

        <h1 class="heading-xlarge">
          Radio buttons <br>
        </h1>

        <p>
          Branching test. See routes.js for routing
        </p>


        <h2 class="heading-large">
          What do you want to get in touch about?
        </h2>

        <p>
          Select one of the options below.
        </p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What do you want to get in touch about?
            </legend>

            <label for="radio-part-2" class="block-label">
              <input id="radio-visa" type="radio" name="contactroute" value="visa">
              <span class="heading-small">Visas</span><br>
              Some text about visas needs a bit more to reach the full width of the one below
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-etd" type="radio" name="contactroute" value="etd">
              <span class="heading-small">Emergency travel document</span><br>
              Some text about emergency travel documents or lost passports and related problems
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
