{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="/form_show_data" method="get" class="form">

    <h1 class="form-title heading-large">
      Your details
    </h1>

    <!-- Full name -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Full name</label>
      <p class="form-hint">As shown on your birth certificate or passport</p>
      <input type="text" class="form-control" id="full-name" name="fullname" value="">
    </div>

    <!-- Text input -->
    <div class="form-group">
      <label class="form-label-bold" for="ni-number">
        Comment
        <span class="form-hint">
          Put any text in here to post to the next page
        </span>
      </label>
      <input type="text" class="form-control" id="ni-number" name="comment" value="">
    </div>

 

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
