{% extends "layout.html" %}

{% block page_title %}
  Example of using variables taken from form
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Sending in data from last page  
  </h1>


<p>This data is coming via from <code class="code">/routes.js</code> which captures and extracts it</p>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your data
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Your name
        </td>
        <td>
          {{ fullname_display }}<br>
        </td>
        <td class="change-answer">
          <a href="form_post_data">
            Change <span class="visuallyhidden">your name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Comment
        </td>
        <td>
          {{ comment_display }}
        </td>
        <td class="change-answer">
          <a href="form_post_data">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>



</main>

{% endblock %}


