{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">The GOV.UK prototype kit</h1>

      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

    <h2 class="heading-medium">Training</h2>

			<ul class="list list-bullet">
				<li><a href="getting-started">Prototype intro and github stuff</a></li>
				<li><a href="demo-start-page">Build a simple site - demo hello goodbye</a></li>
			</ul>


      <h2 class="heading-medium">MB test links</h2>

			<ul class="list list-bullet">
				<li><a href="contact_choice">Branching demo - contact choice examples</a></li>
				<li><a href="form_post_data">Data capture demo - posting then playing back some form input</a></li>
				<li><a href="addresses_application">Legalisation - saved addresses compact design, application flow</a></li>
				<li><a href="addresses_sameordifferent">Legalisation - same or different new design, application flow</a></li>
				<li><a href="addresses_account">Legalisation - saved addresses compact design, account pages</a></li>
				<li><a href="maintenance">Legalisation - maintenance page</a></li>
				<li><a href="verify-apostille-fields">Verify apostille - field formats</a></li>
			</ul>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and patterns</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>
			</ul>


    </div>
  </div>
</main>

{% endblock %}


