{% extends "layout.html" %}

{% block page_title %}
  Service offline
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Service offline<br>
        </h1>

        
<h2 class="heading-medium">
          Please try again in an hour's time
        </h2>

        <p>
          We're making some essential updates so the legalisation application service is currently offline.
        </p>
   

   <!--- additional worst case scenario content     
        <hr>

        <p>
          If you need to urgently apply for legalisation:
        </p>

 <h3 class="heading-small">Standard service<h3>

<ul class="list list-bullet">
<li>download the <a href="">legalisation application form</a> and fill it in</li>
<li>send your documents, application form and a pre-paid stamped addressed A4-sized envelope to the address below:</li>
</ul>
  
  Legalisation Office<br>Foreign &amp; Commonwealth Office<br>PO Box 6255<br>Milton Keynes<br>MK10 1XX


 <h3 class="heading-small">Premium service<h3>
<p>
          If you're a business registered with the premium service, call 020 7008 4103 for urgent cases only. You'll need your registered account details.
        </p>
-->


    </div>
  </div>
</main>
{% endblock %}
